[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	owner = group ldap/hyperledger-gerrit-fabric-samples-committers
	read = deny group GitHub Replication
	exclusiveGroupPermissions = read
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	create = group ldap/hyperledger-gerrit-fabric-samples-committers
[project]
	description = Hyperledger Fabric Samples
	state = read only
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	push = group ldap/hyperledger-gerrit-fabric-samples-committers
	createTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createTag = group ldap/hyperledger-gerrit-fabric-samples-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-samples-committers
[access "refs/for/refs/*"]
	pushMerge = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	pushMerge = group ldap/hyperledger-gerrit-fabric-samples-committers
[plugin "its-jira"]
	enabled = true
[plugin "slack-integration"]
	channel = fabric-ci-status
